{% extends 'base.html' %}


{% load crispy_forms_tags %}
  {% if instance.id %}
    {% block title %} Edit Student{% endblock %}
  {% else %}
     Add Student
  {% endif %}
{% block content %}
    
    {% if user.is_authenticated %}
    <div class="container mt-4 center" class="login-form" style="max-width: 400px; margin: auto;">
        <h2>{% if instance.id %}Edit Student{% else %}Add Student{% endif %}</h2>
        {% if instance.id %}
            <p>Editing student: {{ instance.first_name }} {{ instance.last_name }}</p>
        {% else %}
            <p>Add a new student to the system.</p>
        {% endif %}
        <form action="." method="post" autocomplete="off" class="form-horizontal" class="login-form" style="max-width: 400px; margin: auto;">
        <!-- Use the crispy form tag to render the form -->
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-success">{% if instance.id %}Update{% else %}Add{% endif %}</button>
        </form>
        <p class="text-center mt-3">
            <a href="{% url 'student_list' %}" class="btn btn-primary">View Students</a>
        </p>


    </div>
    
    {% endif %}
{% endblock %}